*~
.DS_Store
.dep
build*
test
python
*.py
*.ipynb
TAGS
.emacs-dirvars
*png
.cproject
.project
.settings/language.settings.xml
desktop.ini
dorelease.bat
version.txt
NANOVNA_STM32_F303/debug/STM32F3xx-ADC (OpenOCD, Flash and Run).launch
NANOVNA_STM32_F303/debug/STM32F3xx-ADC (OpenOCD, Flash and Run).launch
